body {
    background-color: #476888;
    font-family: arial;
}

.container {
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    display: flex;
    flex-direction: row;
    background-color: #d7dfe3;
}

#xp, #hp, #coin {
    font-weight: bold;
}

.info, .direction, .context, #monsterStat {
    height: 50px;
    width: 600px;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border: 1px solid black;
}

.stat {
    width: 100px;
}

.current {
    width: 100px;
}

.context {
    height: 250px;
    font-weight: normal;
}

.text {
    background-color: black;
    color: white;
    height: 250px;
    width: 590px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
}

#story {
    margin-top: 10px;
}

.buttonDirection {
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    background-color: #476888;
    color: white;
    font-weight: bold;
}

.buttonDirection:hover {
    background-color: #2c3b4f;
}

#monsterStat {
    display: none;
}

#monsterHpText, #monsterNameText, #monsterLevel {
    font-weight: bold;
}

#button1, #button3 {
    display: none;
}