body {
    background-color: #101726;
    font-family: arial;
}

.container {
    display: flex;
    height: 700px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    display: flex;
    flex-direction: row;
    background-color: #717680;
}

#xp, #hp, #coin {
    font-weight: bold;
}

.info, .direction, .context, #monsterStat {
    height: 50px;
    width: 700px;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border: 1px solid black;
}

.stat {
    width: 100px;
}

.current {
    width: 100px;
}

.context {
    height: 300px;
    font-weight: normal;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.text {
    background-color: black;
    color: white;
    height: 300px;
    width: 670px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 22px;
    border-radius: 15px;


}

#story {
    margin-top: 15px;
}

.buttonDirection {
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    background-color: #233150;
    color: white;
    font-size: 18px;
}

.buttonDirection:hover {
    background-color: #101726;
}

.info {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#monsterStat {
    display: none;
    border-radius: 25px;
    margin-bottom: 10px;
}

#monsterHpText, #monsterNameText, #monsterLevel {
    font-weight: bold;
}

#button1, #button3 {
    display: none;
}